{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home | Mutomo District Hospital</title>

    <!---- stylesheet ------>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!----- google fonts ----->
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"rel="stylesheet">

    <!---- bootstrap ----->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <!---- icons ------>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
	<script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>

    <!---- for on scroll animations ------>
    <link rel="stylesheet" href="https://cdn.rawgit.com/daneden/animate.css/v3.1.0/animate.min.css">
    <script src="https://cdn.rawgit.com/matthieua/WOW/1.0.1/dist/wow.min.js"></script>

</head>
<body>

    <a name="home"></a>
    <div class="wrapper">
   <!------------------ hero sections ------------------------>

        <div class="image-container">
            <img src="{% static '1.jpg' %}" alt="">
        </div>

        <div class="header">
            <h1>Welcome to  Mutomo District Hospital.</h1>
        </div>

   <!------------------ hero sections ------------------------>

    <!--------------- navbar starts here --------------->

            <nav class="nav">
                  

                  <ul id="menu">
                        
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li> 
                        
                  </ul>

                  <div id="toggle">
                        <div class="span">menu</div>
                  </div>

            </nav>

            <div id="resize">
                  <div class="close-btn">close</div>

                  <ul id="menu">
                    <li><a href="">Apply</a></li>
                    <li><a href="">Login</a></li> 
                  </ul>
            </div>

    <!--------------- navbar ends here --------------->

    <div class="content">
    
    <!--------------- about section starts here --------------->
    

      <section class="story">
      

        <div class="container-fluid">

          <div class="section-data">

            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-2 section-index wow fadeInUp" data-wow-delay="0.3s">01</div>
              <div class="col-md-8 section-heading wow fadeInUp" data-wow-delay="0.4s">Who we are</div>
            </div>

            

            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-6 section-info wow fadeInUp" data-wow-delay="0.6s">We are a Hospital dedicated to provide quality standard medical healthcare to all patients. We have recently started a program to easily access vaccinations to children. Please register to access.</div>
            </div>

            
            

          </div>

        </div>

      </section>

    <!--------------- about section ends here --------------->

    
    <!--------------- contact section starts here --------------->

   

    <section class="contact">

      <div class="container-fluid">

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2 section-index wow fadeInUp" data-wow-delay="0.3s">04</div>
            <div class="col-md-8 section-heading wow fadeInUp" data-wow-delay="0.4s">Any problems? Tell us here</div>
          </div>

           <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-6 icon-title wow fadeInUp" data-wow-delay="0.5s"></div>
          </div>

          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6">
              <form action="" name="contact-form" id="contact-form" method="POST">
                {% csrf_token %}

                <ul>

                  <li class="wow fadeInUp" data-wow-delay="0.6s">
                    <label for="contact-name">Name :</label>
                    <div class="textarea">
                      <input type="text" name="contact-name" id="contact-name" value="" required>
                    </div>
                  </li>

                  <br>

                  <li class="wow fadeInUp" data-wow-delay="0.7s">
                    <label for="contact-email">E-mail :</label>
                    <div class="textarea">
                      <input type="email" name="contact-email" id="contact-email" value="" required>
                    </div>
                  </li>

                  <br>

                  <li class="wow fadeInUp" data-wow-delay="0.8s">
                    <label for="contact-project">Message :</label> 
                    <div class="textarea">
                      <textarea name="contact-project" id="contact-project" rows="6" required></textarea>
                    </div>
                  </li>

                </ul>

                <button type="submit" name="contact-submit" id="contact-submit" class="send wow fadeInUp" data-wow-delay="0.9s">Send Message</button>

              </form>
            </div>
          </div>

        </div>

      </section>
    <!--------------- footerd starts here --------------->

    <div class="footer">

      <div class="container">

        <div class="info">

          <div class="row">
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s" id="address">
              <p>Come find us today</p>
              <h4>Thika</h4>
              >

              <br><br>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.4s" id="media">
              <ul class="foot-Menu">
                class Contact(models.Model):
                name = models.CharField(max_length=200)
                email = models.EmailField()
                message = models.TextField()
            
                def __str__(self):
                    return self.name

                
              </ul>

              <br><br>
            </div>

            

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s" id="mail">
              <p>have a question?</p>
              <h4>Mutomohopital@aol.com</h4>
              <h4>0112323344 </h4>
              <h4>P. O. Box 258-369</h4>

              <br><br>
            </div>
          </div>

        </div>

      </div>

      <div class="copyright">
        <span>&copy;Mutomo</span>
      </div>
    </div>
    

            <!--------------- footer ends here --------------->

  </div>

   </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script>
// navigation starts here
$("#toggle").click(function() {
            $(this).toggleClass('on');
            $("#resize").toggleClass("active");
      });
      $("#resize ul li a").click(function() {
            $(this).toggleClass('on');
            $("#resize").toggleClass("active");
      });
      $(".close-btn").click(function() {
            $(this).toggleClass('on');
            $("#resize").toggleClass("active");
      });

$(function () {
  $(document).scroll(function () {
    var $nav = $(".nav");
    $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
  });
});

new WOW().init();

// Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });

</script>
</body>
</html>